:root {
    --primary-col: #123456;
    --secondary-col: #24698f;
    --secondary-hover-col: #60b3e0;
    --secondary-active-col: #4598c5;
    --text-col: #ffffff;

    --one-col: #ffa500;
    --two-col: #ffbd41;
    --three-col: #ffcb6c;
    --four-col: #008080;
    --five-col: #009f9f;
    --six-col: #00c2c2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding-top: 80px;
    display: flex;
    height: 80vh;
    justify-content: center;
    background-color: var(--primary-col);
}
.parent {
    display: grid;
    gap: 20px;
    justify-content: center;
}

/* grid-05 */
.grid-three {
    grid-template-columns: repeat(6, 10vw);
    grid-template-rows: repeat(3, 10vw);
}
.children {
    padding: 10px;
}

/* row-1 */
#children-1 {
    grid-column: 1/2;
    background-color: var(--six-col);
}
#children-2 {
    grid-column: 2/3;
    background-color: var(--one-col);
}
#children-3 {
    grid-column: 3/4;
    background-color: var(--six-col);
}
#children-4 {
    grid-column: 4/5;
    background-color: var(--one-col);
}
#children-5 {
    grid-column: 5/6;
    background-color: var(--six-col);
}
#children-6 {
    grid-column: 6/7;
    background-color: var(--one-col);
}
/* row-2 */
#children-7 {
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: var(--one-col);
}
#children-8 {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: var(--six-col);
}
#children-9 {
    grid-column: 3/4;
    grid-row: 2/3;
    background-color: var(--one-col);
}
#children-10 {
    grid-column: 4/5;
    grid-row: 2/3;
    background-color: var(--six-col);
}
#children-11 {
    grid-column: 5/6;
    grid-row: 2/3;
    background-color: var(--one-col);
}
#children-12 {
    grid-column: 6/7;
    grid-row: 2/3;
    background-color: var(--six-col);
}

/* row-3 */
#children-13 {
    grid-column: 1/2;
    grid-row: 3/4;
    background-color: var(--six-col);
}
#children-14 {
    grid-column: 2/3;
    grid-row: 3/4;
    background-color: var(--one-col);
}
#children-15 {
    grid-column: 3/4;
    grid-row: 3/4;
    background-color: var(--six-col);
}
#children-16 {
    grid-column: 4/5;
    grid-row: 3/4;
    background-color: var(--one-col);
}
#children-17 {
    grid-column: 5/6;
    grid-row: 3/4;
    background-color: var(--six-col);
}
#children-18 {
    grid-column: 6/7;
    grid-row: 3/4;
    background-color: var(--one-col);
}